<div id="footer" class="large">
  <div class="wrapper">
    <div class="background">
      <span class="copyright">&copy; 2010 Blogcastr</span>
      <%= link_to "About", about_path -%>
      <a href="http://blogcastr.wordpress.com">Blog</a>
      <a href="http://www.facebook.com/blogcastr">Facebook</a>
      <%= link_to "FAQ", faq_path -%>
      <%= link_to "Privacy Policy", privacy_policy_path -%>
      <%= link_to "Terms of Service", terms_of_service_path -%>
      <a href="http://twitter.com/blogcastr">Twitter</a>
    </div>
  </div>
</div>
