<%= link_to_function image_tag("http://static.ak.fbcdn.net/images/fbconnect/login-buttons/connect_light_medium_long.gif", :class => "connect"), "FB.Connect.requireSession(blogcastrFacebookExtendedPermissions)" -%>
<p>Connect your Facebook account</p>
