<%= link_to_remote image_tag("phone_delete.png") + "<p>SMS notifications for #{@profile_username_possesive} blogcasts</p>", :url => username_sms_notifications_path(:username => @profile_user.username), :failure => "alert('Error communicating with server, failed to create sms notifications for #{@profile_user.username}');", :html => {:class => "notification"}, :method => "delete" %>
