<li id="<%= image_post.id %>">
  <div class="stream-effect">
    <img class="list_item_image" src="<%= image_post.image.url(:default) %>"/>
    <div class="clear">
    </div>
    <p class="list_item_info">Posted <%= hours_minutes_ago_helper image_post.created_at %> from <%= image_post.from %></p>
  </div>
</li>
