<%= link_to_remote image_tag("phone_delete.png") + "<p>SMS notification for \"#{@blogcast.title}\"</p>", :url => blogcast_sms_notification_path(:blogcast_id => @blogcast.id, :id => @sms_blogcast_notification.id), :failure => "alert('Error communicating with server, failed to create sms notification for \\\"#{@blogcast.title}\\\"');", :html => {:class => "notification"}, :method => "delete" %>
