html
{
	height: 100%;
}

body
{
	margin: 10px;
	font-family: Helvetica, sans-serif;
        background-image: url('/images/background.png');
	background-color: #e1dada;
	background-repeat: repeat-x;
	font-size: 1.0em;
}

a 
{
	text-decoration: none;
}

a:hover 
{
	text-decoration: underline;
}

#wrapper
{
	width: 860px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#header
{
	height: 80px;
}

#header img
{
	margin: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
	border: none;
}

#navigation
{
	margin-right: 5px;
	margin-bottom: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	position: relative;
	float: right;
}

#navigation img
{
	margin-top: 10px;
	margin-right: 5px;
	width: 28px;
	height: 28px;
	position: relative;
	float: left;
}

#navigation a 
{
	margin-left: 1px;
	padding-left: 5px;
	padding-right: 5px;
	height: 28px;
	display: inline;
	float: left;
	font-weight: bold;
	font-size: .85em;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
	opacity: 0.5;
	-moz-opactiy: 0.5;
	filter: alpha(opacity=50);
	line-height: 28px;
}

#navigation a.first
{
	margin-left: 0px;
	padding-left: 0px;
}

#navigation a:hover
{
	opacity: 0.75;
	-moz-opactiy: 0.75;
	filter: alpha(opacity=75);
}

#navigation a:active
{
	opacity: 0.75;
	-moz-opactiy: 0.75;
	filter: alpha(opacity=75);
}

#content
{
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: left;
}

#main
{
	width: 600px;
	float: left;
	text-align: left;
}

#top
{
	width: 600px; 
	position: relative;
	background-image: url("../images/background-border-main.png");
}

#bottom
{
	padding-left: 14px;
	padding-right: 14px;
	width: 572px;
	background-image: url("../images/background-border-main.png");
}

#bottom h2
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1.75em;
	font-weight: bold;
}

#bottom h2 span.counter
{
	margin-right: 5px;
	color: #0097e0; 
	font-size: 1.1em;
}

#bottom ol
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;	
}

#bottom li.blogcast
{
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 1px;
	border: solid;
	border-width: 1px;
	border-color: #59636f;
	background-color: #ebebeb;
}

#bottom li.blogcast a 
{
	color: black;
	font-size: 1.0em;
}

#bottom li.blogcast h3
{
	margin: 0px;
	float: left;
	color: black;
	font-size: 0.95em;
	line-height: 14px;
}

#bottom li.blogcast p.date
{
	margin: 0px;
	float: right;
	color: #d79400;
	font-size: 0.85em;
	font-weight: bold;
	line-height: 12px;
}

#bottom li.blogcast p.tags
{
	margin: 0px;
	margin-left: 5px;
	margin-top: 5px;
	color: gray;
	font-size: 0.85em;
	font-style: italic;
}

#bottom li.blogcast p.description
{
	margin: 0px;
	margin-left: 5px;
	color: black;
	font-size: 0.85em;
}

#bottom li.blogcast h4.three
{
	margin-top: 3px;
	margin-left: 1px;
	margin-bottom: 0px;
	width: 189px;
	height: 17px;
	position: relative;
	float: left;
	background-color: #99d9f6;
	text-align: center;
	font-size: 0.85em;
	line-height: 17px;
}

#bottom li.blogcast h4.first
{
	margin-left: 0px;
	width: 188px;
}

#bottom li.blogcast h4.selected
{
	background-color: #1ca5e5;
}

#bottom li.blogcast h4:hover
{
	background-color: #0097e0;
	cursor: pointer;
}

#bottom li.blogcast h4 img
{
	position: absolute;
	width: 6px;
	height: 6px;
	left: 173px;
	top: 5px;
}

#bottom li.blogcast a.tab:hover
{
	text-decoration: none;
}

#side
{
	width: 235px;
	margin-left: 4px;
	margin-top: 10px;
	float: left;
	position: relative;
	text-align: left;
	line-height: 0.9em;
}

#side div.background
{
	padding-left: 14px;
	padding-right: 14px;
	background-color: transparent;
	background-image: url("../images/background-border-side.png");
}

#side div.all
{
	padding-bottom: 17px;
	position: relative;
	top: -6px;
}

#side h4
{
	margin-top: 5px;
	margin-bottom: 0px;
	display: inline-block;	
	color: #00a7ee;
	font-size: 0.8em;
}

#side h4.first
{
	margin-top: 0px;
}

#side p
{
	font-size: 0.8em;
	display: inline;
	font-weight: bold;
}

#side p.first
{
	margin-top: 0px;
}

#side p.date
{
	display: inline;	
	color: green;
	font-weight: normal;
	font-size: 0.85em;
}

#side p.tags
{
	display: inline;	
	color: gray;
	font-weight: normal;
	font-size: 0.75em;
	font-style: italic;
}

#side a.web
{
	display: inline;
	font-size: .8em;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

#side a.web:hover
{
	text-decoration: underline;
}

#side hr
{
	height: 3px;
	background-color: #a4a4a4;
	border: none;
}

#stats
{
	-moz-user-select: none;
	-webkit-user-select: none;
}

#stats h3, #stats a.stat
{
	margin-top: 1px;
	margin-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
	width: 199px;
	height: 30px;
	display: block;
	position: relative;
	color: #000000;
	border: none;
	text-decoration: none;
	font-weight: bolder;
	line-height: 30px;
	font-size: 1.15em;
	text-align: left;
	cursor: pointer;
}

#stats h3
{
	-moz-user-select: none;
	-webkit-user-select: none;
}

#stats h3:hover, #stats a.stat:hover
{
	background-color: #0097e0;
	text-decoration: none;
}

#stats span.counter
{
	font-size: 1.0em;
}

#stats span.name
{
	position: absolute;
	left: 65px;
	font-size: 1.0em;
	letter-spacing: -.01em;
	font-weight: bolder;
}

#stats h3 img
{
	position: absolute;
	left: 190px;
	top: 11px;
	width: 8px;
	height: 8px;
}

#stats a
{
	text-decoration: none;
}

#stats a:hover
{
	text-decoration: none;
}

#stats .first
{
	background-color: #1ca5e5;
}

#stats .second
{
	background-color: #3aafe8;
}

#stats .third
{
	background-color: #52b9ec;
}

#stats .fourth
{
	background-color: #67c2ee;
}

#stats .fifth
{
	background-color: #7bcbf1;
}

#stats .sixth
{
	background-color: #99d9f6;
}

#stats ul, #bottom ul
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;	
	-moz-user-select: none;
	-webkit-user-select: none;
}

#stats li, #bottom ul li
{
	margin-left: 1px;
	margin-top: 1px;
	display: block;
	float: left;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#stats li.first, #bottom ul li.first
{
	margin-left: 0px;
}

#stats li.top
{
	margin-top: 0px;
}

#stats a.more
{
	color: #5f5e5f;
	font-weight: bold;
	font-size: 0.85em;
	text-decoration: none;
}

#stats a.more:hover
{
	text-decoration: underline;
}

#subscribers
{
	-moz-user-select: none;
	-webkit-user-select: none;
}

#subscriptions
{
	-moz-user-select: none;
	-webkit-user-select: none;
}

#side div.hack
{
	position: absolute;
}

input.tab
{
	border: none;
}

#facebook_connect_image
{
	border: none;
}

#twitter_sign_in_image
{
	border: none;
}

#subscription_stream_content
{
	display: none;
}

#footer
{
	margin-top: 4px;
	width: 900;
	height: 28px;
	position: relative;
	text-align: center;
	font-weight: bold;
	font-size: .85em;
	background-color: #ffffff;
	line-height: 28px;
	opacity: 0.5;
	-moz-opactiy: 0.5;
	filter: alpha(opacity=50);
}

#footer span
{
	position: absolute;
	left: 10px;
	font-size: .75em;
}

#footer a
{
	margin-left: 5px;
	margin-right: 5px;
	color: #000000;
	text-decoration: none;
}

#footer a:hover
{
	text-decoration: underline;
}

#footer a:visited
{
	text-decoration: none;
}

#footer a:active
{
	text-decoration: underline;
}

div.upper-left-border-squared-corner
{
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/upper-left-border-squared-corner.png");
}

div.top-border
{
	width: 580px;
	height: 10px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/top-border.png");
}

div.upper-right-border-squared-corner
{
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/upper-right-border-squared-corner.png");
}

div.lower-left-border-squared-corner
{
	margin-bottom: 4px;
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/lower-left-border-squared-corner.png");
}

div.bottom-border
{
	margin-bottom: 4px;
	width: 580px;
	height: 10px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/bottom-border.png");
}

div.lower-right-border-squared-corner
{
	margin-bottom: 4px;
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/lower-right-border-squared-corner.png");
}

div.upper-left-border-rounded-corner
{
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/upper-left-border-rounded-corner.png");
}

div.top-border-large
{
	width: 195px;
	height: 20px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/top-border-large.png");
}

div.upper-right-border-rounded-corner
{
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/upper-right-border-rounded-corner.png");
}

div.lower-left-border-rounded-corner
{
	margin-bottom: 4px;
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/lower-left-border-rounded-corner.png");
}

div.bottom-border-large
{
	margin-bottom: 4px;
	width: 195px;
	height: 20px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/bottom-border-large.png");
}

div.lower-right-border-rounded-corner
{
	margin-bottom: 4px;
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/lower-right-border-rounded-corner.png");
}

.avatar-small
{
	display: block;
	width: 25px;
	height: 25px;
	border: none;
}

.avatar-medium
{
	width: 80px;
	height: 80px;
	border: none;
}

.avatar-large
{
	width: 100px;
	height: 100px;
	border: none;
}

.clear
{
	clear: both;
}

.clear-right
{
	clear: right;
}

.clear-left
{
	clear: left;
}
