#left-side img.avatar
{
	width: 142px;
	height: 142px;
	border: none;
}

#main
{
	margin-left: 4px;
}

#top
{
	padding-left: 14px;
	padding-top: 25px;
	padding-right: 14px;
	padding-bottom: 4px;
	width: 572px; 
	background-image: url("../images/background-border-main.png");
}

#title
{
	left: 9px;
	top: -30px;
}

#title img
{
	float: left;
	position: relative;
	left: -8px;
	top: 7px;
	width: 42px;
	height: 42px;
	border: none;
}

#top p
{
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 1.0em;
	font-weight: bold;
}

#top p a.user
{
	color: #00A7EE;
}

#top p img.avatar
{
	margin-left: 1px;
	margin-top: 1px;
	margin-right: 3px;
	border: none;
	height: 28px;
	width: 28px;
	position: relative;
	top: 7px;
	display: block;
	float: left;
}

#top p span.date
{
	color: #d79400;
}

#top h2
{
	margin-top: 3px;
	margin-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	height: 30px;
	display: block;
	position: relative;
	color: #000000;
	border: none;
	background-color: #1ca5e5;
	text-decoration: none;
	font-weight: bolder;
	line-height: 30px;
	font-size: 1.15em;
	text-align: left;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#top h2:hover
{
	background-color: #0097e0;
}

#top h2 img
{
	width: 8px;
	height: 8px;
	position: absolute;
	left: 557px;
	top: 11px;
}

#comment p
{
	margin-left: 3px;
	font-size: 0.85em;
}

#comment p.first
{
	margin-top: 5px;
}

#sign-up
{
	text-align: center;
}

#sign-up a
{
	margin-top: 10px;
	margin-right: 1px;
	margin-bottom: 10px;
	padding: 0px;
	display: inline-block;
	width: 150px;
	height: 32px;
	line-height: 32px;
	color: #000000;
	background-color: #efc02d;
	background-image: url('/images/fade.png');
	background-repeat: repeat-x;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: .85em;
}

#sign-up a:hover
{
	background-color: #d79400;
	text-decoration: none;
}

#sign-up a:visited
{
	color: #000000;
	text-decoration: none;
}

#comment p.connect
{
	margin-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	width: 160px;
	display: inline-block;
	font-weight: normal;
	text-align: center;
}

#comment img
{
	margin-top: 5px;
}

#comment form
{
	margin-top: 3px;
}

#comment form textarea
{
	padding: 5px;
	width: 560px;
	height: 115px;
	border: solid;
	border-width: 1px;
	border-color: #000000;
	background-image: url(/images/comment_prompt.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	font-size: 1.2em;
	resize: none;
}

#comment form textarea.selected
{
	background-image: none;
}

#comment form input 
{
	margin-top: 3px;
	width: 125px;
	height: 28px;
	border: solid;
	border-width: 1px;
	border-color: #4e606f;
	float: right;
	font-size: 1.15em;
	font-weight: bold;
	font-size: 0.75em;
	cursor: pointer;
}

#comment form input:hover
{
	background-color: #a3a3a3;
}

#top div.social
{
	margin-top: 3px;
	position: absolute;
	right: 14px;
}

#top div.social p
{
	margin: 0px;
	display: inline;
	color: #787878;
	font-size: 0.6em;
	font-style: italic;
	font-weight: normal;
}

#top div.social img
{
	border: none;
	vertical-align: -15%;
}

#top div.social a.like
{
	margin: 0px;
	padding-top: 1px;
	padding-left: 21px;
	padding-right: 3px;
	padding-bottom: 1px;
	text-decoration: none;
	background-color: #ebebeb;
	background-repeat: no-repeat;
	background-position: 3px 1px;
	color: #000000;
	font-size: 14px;
	font-weight: normal;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#top div.social a.like.add
{
	background-image: url("../images/heart_add.png");
}

#top div.social a.like.delete
{
	background-image: url("../images/heart_delete.png");
}

#top div.social a.like:hover
{
	background-color: #a3a3a3;
	text-decoration: none;
}

#top div.social a.like img
{
	margin-right: 3px;
}
