#content
{
	margin-top: 40px;
}

#title
{
	position: absolute;
	left: -22px;
	top: -42px;	
}

#side-border
{
	float: left;
}

#title div.side-border div.left-border-gray, #title div.side-border div.right-border-gray
{
	height: 70px;
}

#title div.background 
{
	padding-left: 3px;
	padding-top: 13px;
	padding-right: 3px;
	padding-bottom: 13px;
	min-width: 400px;
	float: left;
	background-image: url("../images/background-border-title-gray-large.png");
}

#title div.background h1
{
	margin: 0px;
	padding: 0px;
	height: 30px;
	width: 100%;
	letter-spacing: -0.025em;
	line-height: 30px;
	font-weight: bold;
	font-size: 2.0em;
	background-image: none;
	float: none;
}

#title div.background hr
{
	margin-top: 0px;
	margin-bottom: 3px;
	height: 2px;
	display: block;
	background-color: #000000;
	border: none;
}

#title span.date 
{
	float: right;
	color: #d79400;
	font-weight: bold;
}

#title div.background img
{
	margin-right: 5px;
	display: block;
	float: left;
	border: none;
}

#title div.background a
{
	position: relative;
	border: none;
	color: #009be2;
	font-weight: bold;
	line-height: 30px;
}

#top
{
	padding-left: 13px;
	padding-top: 50px;
	padding-right: 13px;
	padding-bottom: 3px;
	width: 574px; 
	position: relative;
	background-image: url("../images/background-border-main.png");
}

#top p
{
	margin-top: 8px;
	margin-bottom: 0px;
	height: 20px;
	display: inline-block;
	font-size: 0.85em;
	font-weight: bold;
	line-height: 20px;
}

#top div.facebook, a.twitter
{
	width: 150px;
	height: 20px;
	display: inline-block;
	color: #ffffff;
	text-align: center;
	line-height: 20px;
	font-weight: bold;
	font-size: .75em;
}

#top div.facebook
{
	background-color: #3B5998;
}

#top a.twitter 
{
	background-color: #47bbcf;
}

#top div.facebook:hover, a.twitter
{
	cursor: pointer;
	text-decoration: none;
}

#top h2
{
	margin-top: 8px;
	margin-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	width: 566px;
	height: 30px;
	display: block;
	position: relative;
	color: #000000;
	border: none;
	background-color: #1ca5e5;
	text-decoration: none;
	font-weight: bolder;
	line-height: 30px;
	font-size: 1.15em;
	text-align: left;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#top h2:hover
{
	background-color: #0097e0;
}

#top h2 img
{
	width: 8px;
	height: 8px;
	position: absolute;
	left: 557px;
	top: 11px;
}

#comment form
{
	margin-top: 3px;
}

#comment form textarea
{
	padding: 5px;
	width: 562px;
	height: 115px;
	border: solid;
	border-width: 1px;
	border-color: #000000;
	background-image: url(/images/comment_prompt.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	font-size: 1.2em;
	resize: none;
}

#comment form textarea.selected
{
	background-image: none;
}

#comment form input 
{
	margin-top: 5px;
	width: 125px;
	height: 28px;
	border: solid;
	border-width: 1px;
	border-color: #000000;
	border-color: #4e606f;
	float: right;
	font-size: 1.15em;
	font-weight: bold;
	font-size: 0.75em;
	cursor: pointer;
}

#comment form input:hover
{
	background-color: #a3a3a3;
}
