body
{
	margin: 10px;
	font-family: sans-serif;
}

h1
{
	font-size: 2.0em;
}

h2
{
	font-size: 1.5em;
}

h3
{
	font-size: 1.0em;
}

h4
{
	font-size: 0.75em;
}

#wrapper
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.notice
{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
	text-align: left;
}

.notice h1
{
	margin-left: 10px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	background-color: black;
	font-size: 1.25em;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	filter:alpha(opacity=70);
	-moz-opacity:0.70;
	-khtml-opacity: 0.70;
	opacity: 0.70;

}

.counter-large-add
{
	font-weight: bold;
	font-size: 1.1em;
	color: #336699;
}

.counter-large-subtract
{
	font-weight: bold;
	font-size: 1.1em;
	color: #336699;
}

#header
{
	height: 90px;
	padding-top: 10px;
	text-align: right;
}

#header h1
{
	margin: 0px;
	position: absolute;
	left: 120px;
	top: 40px;
}

#header div.avatar-large-rounded
{
	position: absolute;
	left: 10px;
	top: 0px;
}

#header div.avatar-small-rounded
{
	display: inline-block;
}

#navigation
{
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 5px;
	padding-top: 3px;
	padding-left: 5px;
	padding-bottom: 3px;
	padding-right: 5px;
	float: right;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	background-color: #EEEEEE;
	word-spacing: -.1em;
}

#navigation a
{
	margin-right: 3px;
	margin-left: 3px;
	text-decoration: none;
	color: black;
}

#navigation a:visited
{
	color: black;
}

#navigation a:hover
{
	text-decoration: underline;
}

#navigation a:active
{
	text-decoration: underline;
}

#subscription
{
	margin-top: 5px;
	margin-right: 10px;
	display: inline;
}

#subscription a
{
	text-decoration: none;
}

#subscription:hover a
{
	text-decoration: underline;
}

#content
{
	margin: 20px;
	text-align: center;
}

#main
{
	width: 520px;
	float: left;
	text-align: left;
}

#comment_stream_button
{
	width: auto;
	height: 40px;
	margin-right: 30px;
	border: solid;
}

#subscription_stream_button
{
	width: auto;
	height: 40px;
	border: solid;
}

#comment_stream_content
{
}

#subscription_stream_content
{
}

#main h2
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 1.75em;
	color: #336699;
}

#main h3
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 1.4em;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	background-color: #EEEEEE;
}

#main h3.effect:hover
{
	background-color: #CCCCCC;
}

#main div.tab
{
	margin-top: 10px;
	padding-right: 5px;
	text-align: right;
}

#main span.tab-selected
{
	padding: 5px;
	padding-bottom: 0px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	background-color: #EEEEEE;
}

#main span.tab-not-selected
{
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	padding-bottom: 0px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	background-color: white;
	border-left: solid;
	border-top: solid;
	border-right: solid;
	border-width: 1px;
	border-color: black;
}

#main span.tab-not-selected:hover
{
	text-decoration: underline;
}

#main a
{
	margin-right: 5px;
	text-decoration: none;
	color: blue;
}

#main a:visited
{
	color: blue;
}

#main a:hover
{
	text-decoration: underline;
}

#main a:active
{
	text-decoration: underline;
}

#main h4
{
	margin-left: 5px;
	margin-top: 3px;
	margin-right: 5px;
	margin-bottom: 3px;
	background-color: #EEEEEE;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
}

#main #message-effect-inner
{
	padding-left: 5px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 0px;
}

#main #message
{
	margin-top: 0px;
	padding: 10px;
	background-color: white;
	border: solid;
	border-width: 2px;
	border-color: #EEEEEE;
}

#main #message p 
{
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
}

#main #message a.sign-out
{
	margin: 0px;
}

#main #message a.avatar
{
	margin-right: 5px;
	float: left;
}

#main #message div.avatar
{
	margin: 0px;
}

#main #message form
{
	margin-left: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
}

#main #message textarea
{
	width: 390px;
	height: 68px;
}

#main ol.stream
{
	margin-left: 5px;
	margin-top: 0px;
	margin-right: 5px;
	padding: 0px;
	list-style-type: none;	
}

#main ol.stream div.stream-effect-outer
{
	padding-top: 10px;
}

#main ol.stream div.stream-effect-inner
{
	padding: 10px;
	border: solid;
	border-width: 2px;
	border-color: #EEEEEE;
	text-align: left;
}

#main ol.stream li p.text
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	text-align: left;
}

#main ol.stream li p.info
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: left;
	font-size: .75em;
	color: gray;
}

#main ol li h3
{
	margin-left: 5px;
	margin-top: 5px;
	float: left;
	color: #336699;
	font-size: 1.25em;
	font-weight: bold;
	font-family: helvetica, arial, sans-serif;
}

#main ol li h3 a
{
	color: #336699;
}

#main ol li h3 a:visited
{
	color: #336699;
}

#facebook_connect_image
{
	border: none;
}

#twitter_sign_in_image
{
	border: none;
}

#subscription_stream_content
{
	display: none;
}

#side
{
	width: 212px;
	margin-left: 10px;
	padding: 5px;
	float: left;
	text-align: left;
	background-color: white;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
}

#side div.gray-background 
{
	margin-top: 3px;
}

#side h3
{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	background-color: #EEEEEE;
}

#side h4
{
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline;	
	font-size: .85em;
}

#side p.date
{
	display: inline;	
	color: green;
	font-weight: normal;
	font-size: 0.85em;
}

#side p.tags
{
	display: inline;	
	color: gray;
	font-weight: normal;
	font-size: 0.75em;
	font-style: italic;
}

#side a
{
	display: inline;
	font-size: .8em;
	color: blue;
	text-decoration: none;
}

#side a:hover
{
	text-decoration: underline;
}

#side ul
{
	margin: 0px;
	padding-left: 8px;
	list-style-type: none;	
}

#side li 
{
	display: inline-block;
}

#side div.avatar-small-rounded
{
	display: inline-block;
}

#clear
{
	clear: both;
}

#footer
{
	margin-top: 20px;
	height: 40px;
	text-align: left;
}

.avatar-small-rounded
{
	display: block;
	width: 20px;
	height: 20px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border: none;
}

.avatar-medium-rounded
{
	width: 80px;
	height: 80px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border: none;
}

.avatar-large-rounded
{
	width: 100px;
	height: 100px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border: none;
}

.facebook-avatar-small-rounded
{
	width: 20px;
	height: 20px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border: none;
}

.facebook-avatar-medium-rounded
{
	width: 50px;
	height: 50px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border: none;
}

.facebook-avatar-small-rounded
{
	width: 100px;
	height: 100px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border: none;
}

.twitter-avatar-small-rounded
{
	width: 20px;
	height: 20px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border: none;
}

.twitter-avatar-medium-rounded
{
	width: 48px;
	height: 48px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border: none;
}

.twitter-avatar-small-rounded
{
	width: 100px;
	height: 100px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border: none;
}

.counter-large
{
	color: #004B73;
	font-size: 1.5em;
	font-family: georgia, serif;
}

.counter-medium
{
	color: #004B73;
	font-size: 1.2em;
	font-family: georgia, serif;
}

.counter-small
{
	margin-left: 3px;
	margin-right: 3px;
	color: #004B73;
	font-size: 1.15em;
	font-family: georgia, serif;
}

.blogcast
{
	margin: 5px;
	background-color: white;
	border: solid;
	border-width: 2px;
	border-color: #EEEEEE;
}

.blogcast-description
{
	margin-left: 5px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.list_item_image
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.clear
{
	clear: both;
}

#like
{
	margin-top: 5px;
	margin-right: 10px;
	display: inline;
}

#like a
{
	text-decoration: none;
}

#like:hover a
{
	text-decoration: underline;
}
