html
{
	height: 100%;
}

body
{
	margin-left: 5px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	font-family: Helvetica, sans-serif;
        background-image: url('/images/background.png');
	background-color: #e5e5e5;
	background-repeat: repeat-x;
	font-size: 1.0em;
}

a 
{
	text-decoration: none;
}

a:hover 
{
	text-decoration: underline;
}

#alert
{
	margin: 0px;
	width: 100%;
	height: 50px;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #99d9f6;
	z-index: 1;
	opacity: 0.90;
	-moz-opactiy: 0.90;
	filter: alpha(opacity=90);
}

#alert img
{
	margin-left: 20px;
	margin-top: 10px;
	width: 30px;
	height: 30px;
	float: left;
}

#alert p
{
	margin-left: 8px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	display: inline-block;
	line-height: 50px;
	font-size: 1.2em;
	font-style: bold;
}

#wrapper
{
	width: 860px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#wrapper.three-column
{
	width: 1014px;
}

#header
{
	padding-left: 5px;
	padding-right: 5px;
	height: 72px;
}

#wrapper.user #header
{
	height: 38px;
}

#header.small
{
	height: 38px;
}

#header form
{
	opacity: 0.5;
	-moz-opactiy: 0.5;
	filter: alpha(opacity=50);
}

#header form:hover, #header form.selected
{
	opacity: 0.75;
	-moz-opactiy: 0.75;
	filter: alpha(opacity=75);
}

#wrapper #header form label img
{
	height: 28px;
	position: absolute;
	left: 5px;
	top: 0px;
}

#header.small form label img
{
        height: 28px;
        position: absolute;
        left: 5px;
        top: 0px;
}

#header form input
{
	padding-left: 3px;
	padding-top: 6px;
	padding-right: 3px;
	padding-bottom: 6px;
	border: none;
	width: 200px;
	height: 16px;
	position: absolute;
	left: 33px;
	top: 0px;
	line-height: 16px;
	font-family: Gill Sans, Helvetica, sans-serif;
	color: #000000;
	background-color: #ffffff;
	font-size: 0.80em;
}

#header img
{
	margin: 0px;
	position: absolute;
	left: 280px;
	top: -10px;
	border: none;
}

#wrapper.three-column.user #header img.logo
{
	left: 419px;
}

#wrapper.user #header img.logo
{
	left: 352px;
}

#header.small img.logo
{
	left: 352px;
}

#wrapper.user #header img.beta
{
	left: 527px;
	top: 18px;
}

#header.small img.beta
{
	left: 527px;
	top: 18px;
}

#wrapper.three-column.user #header img.beta
{
	left: 594px;
}

#navigation
{
	margin-bottom: 5px;
	padding: 0px;
	position: relative;
	float: right;
}

#header #navigation img
{
	margin-right: 3px;
	width: 28px;
	height: 28px;
	position: relative;
	left: 0px;
	top: 0px;
	float: left;
}

#navigation a, #navigation span
{
	margin-left: 1px;
	padding-left: 5px;
	padding-right: 5px;
	border: none;
	height: 28px;
	display: inline;
	float: left;
	font-weight: bold;
	font-size: 0.8em;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
	opacity: 0.5;
	-moz-opactiy: 0.5;
	filter: alpha(opacity=50);
	line-height: 28px;
	cursor: pointer;
}

#navigation a.user
{
	padding-left: 0px;
	padding-right: 3px;
	font-size: 0.6em;
}

#navigation a.selected
{
	opacity: 0.75;
	-moz-opactiy: 0.75;
	filter: alpha(opacity=75);
}

#navigation a:hover, #navigation span:hover
{
	opacity: 0.75;
	-moz-opactiy: 0.75;
	filter: alpha(opacity=75);
}

#navigation a:active
{
	opacity: 0.75;
	-moz-opactiy: 0.75;
	filter: alpha(opacity=75);
}

#content
{
	margin-left: 20px;
	margin-top: 35px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: left;
}

#content.one-column.narrow
{
	margin-left: auto;
	margin-top: 35px;
	margin-right: auto;
	margin-bottom: 0px;
	width: 475px;
}

#content.three-column
{
	margin-left: 0px;
	margin-right: 0px;
}

#main
{
	width: 600px;
	float: left;
	text-align: left;
}

#main div.background
{
	position: relative;
}

#content.one-column #main
{
	width: auto;
	float: none;
}

#content.one-column.wide #main
{
	width: 840px;
	float: none;
}

#content.narrow.one-column #main form div.error, #content.narrow.one-column #main form div.errorExplanation
{
	margin-top: 13px;
	margin-bottom: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	background-color: #ff2600;
	line-height: 20px;
	color: #ffffff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#content.narrow.one-column #main form div.info
{
	margin-top: 13px;
	margin-bottom: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	background-color: #e5db3b;
	line-height: 20px;
	color: #ffffff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#content.narrow.one-column #main form div.errorExplanation ul
{
	margin: 0px;
	line-height: 18px;
	font-size: .85em;
	color: #ffffff;
}

#content.one-column #main form div.fieldWithErrors label
{
	color: #ff2600;
}

#content.narrow.one-column #main form div h2
{
	margin-left: 20px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	font-size: 1.2em;
	font-weight: normal;
	text-align: center;
	color: #ffffff;
}

#content.one-column.narrow #main label 
{
	margin-top: 0px;
	margin-bottom: 4px;
	display: block;	
	letter-spacing: -0.015em;
	font-size: 1.25em;
	line-height: 18px;
}

#content.one-column.narrow #main label.first 
{
	margin-top: 8px;
}

#content.one-column.narrow #main label.tall
{
	margin-top: 13px;
}

#content.one-column.narrow #main input
{
	height: 25px;
	width: 390px;
	padding-left: 3px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	border: solid;
	border-width: 1px;
	border-color: #4e606f;
	font-size: 1.15em;
}

#content.one-column.narrow #main p 
{
	margin: 0px;
	line-height: 13px;
	font-size: 0.75em;
}

#content.one-column #main div.right-justify
{
	width: 100%;
	text-align: right;
	line-height: 13px;
}

#content.one-column.narrow #main a.delete
{
	color: #ff2600;
	font-size: 0.75em;
	color: #bbbbbb;
}

#content.one-column.narrow #main input.button
{
	margin-top: 20px;
	padding: 0px;
	border: solid;
	border-color: #000000;
	border-width: 2px;
	width: 100%;
	height: auto;
	background-color: #e5e5e5;
	font-size: 1.25em;
	cursor: pointer;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#content.one-column.narrow #main input.button:hover
{
	background-color: #a3a3a3;
}

#content.one-column.narrow #main p
{
	margin: 0px;
	color: white;
	text-align: right;
}

#content.one-column.narrow #main p.fine-print
{
	font-size: 0.6em;
	text-align: left;
}

#content.one-column.narrow #main p.fine-print a
{
	color: #bbbbbb;
}

#title
{
	position: absolute;
	left: -20px;
	top: -30px;	
}

.side-border
{
	float: left;
}

#title h1
{
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	height: 56px;
	float: left;
	background-image: url("../images/background-border-title.png");
	line-height: 56px;
	letter-spacing: -0.025em;
	font-weight: bolder;
}

#title h1 img.avatar
{
	width: 44px;
	height: 44px;
	position: absolute;
	left: 6px;
	top: 6px;
}

#main div.background
{
	padding-left: 40px;
	padding-top: 25px;
	padding-right: 40px;
	padding-bottom: 25px;
	width: 395px;
        background-image: url('/images/background-border-main-blue.png');
}

#content.wide #main div.background
{
	padding-left: 14px;
	padding-top: 29px;
	padding-right: 14px;
	padding-bottom: 4px;
	width: 812px;
        background-image: url('/images/background-border-main-wide.png');
}

#top
{
	width: 600px; 
	position: relative;
	background-image: url("../images/background-border-main.png");
}

#bottom
{
	padding-left: 14px;
	padding-top: 4px;
	padding-right: 14px;
	padding-bottom: 4px;
	width: 572px;
	background-image: url("../images/background-border-main.png");
}

#bottom h2
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1.75em;
	font-weight: bold;
	line-height: 35px;
}

#bottom h2 span.counter
{
	margin-right: 5px;
	color: #0097e0; 
	font-size: 1.1em;
}

#bottom ol
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;	
}

#bottom li.blogcast
{
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 1px;
	border: solid;
	border-width: 1px;
	border-color: #59636f;
	background-color: #ebebeb;
}

#bottom li.blogcast a 
{
	color: black;
	font-size: 1.0em;
}

#bottom li.blogcast h3
{
	margin: 0px;
	float: left;
	color: black;
	font-size: 0.95em;
	line-height: 14px;
}

#bottom li.blogcast p.date
{
	margin: 0px;
	float: right;
	color: #d79400;
	font-size: 0.85em;
	font-weight: bold;
	line-height: 12px;
}

#bottom li.blogcast p.tags
{
	margin: 0px;
	margin-left: 5px;
	margin-top: 5px;
	color: gray;
	font-size: 0.85em;
	font-style: italic;
}

#bottom li.blogcast p.description
{
	margin: 0px;
	margin-left: 5px;
	color: black;
	font-size: 0.85em;
}

#bottom li.blogcast h4.three
{
	margin-left: 1px;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 0px;
	width: 189px;
	height: 17px;
	position: relative;
	float: left;
	background-color: #99d9f6;
	text-align: center;
	font-size: 0.85em;
	line-height: 17px;
}

#bottom li.blogcast h4.first
{
	margin-left: 0px;
	width: 188px;
}

#bottom li.blogcast h4.selected
{
	background-color: #1ca5e5;
}

#bottom li.blogcast h4:hover
{
	background-color: #0097e0;
	cursor: pointer;
}

#bottom li.blogcast h4 img
{
	position: absolute;
	width: 6px;
	height: 6px;
	left: 173px;
	top: 5px;
}

#bottom li.blogcast a.tab:hover
{
	text-decoration: none;
}

#bottom ol li div.effect
{
	margin-bottom: 10px;
	border: solid;
	border-width: 1px;
	border-color: #59636f;
	background-color: #ebebeb;
}

#bottom ol li div.effect.first
{
	margin-bottom: 0px;
}

#bottom ol li a.user
{
	color: #00A7EE;
	font-weight: bold;
	line-height: 28px;
	font-size: 0.9em;
}

#bottom ol li img.avatar
{
	height: 28px;
	width: 28px;
	margin-left: 1px;
	margin-top: 1px;
	margin-right: 3px;
	border: none;
	float: left;
}

#bottom ol li span.date
{
	margin-top: 1px;
	margin-right: 3px;
	float: right;
	color: #d79400;
	font-weight: bold;
	font-size: 0.9em;
}

#bottom ol li p.text
{
	margin-left: 32px;
	margin-top: 3px;
	margin-right: 32px;
	margin-bottom: 3px;
	font-weight: bold;
	font-size: 0.85em;
	color: #272727;
}
 
#bottom ol li img.image 
{
	margin-left: 60px;
	margin-top: 3px;
	margin-right: 60px;
	margin-bottom: 3px;
}

#bottom ol li div.player
{
	margin-left: 60px;
	margin-top: 3px;
	margin-right: 60px;
	margin-bottom: 3px;
}

#bottom ol li h4
{
	margin-left: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-right: 1px;
	width: 568px;
	height: 15px;
	display: block;
	position: relative;
	color: #000000;
	border: none;
	text-decoration: none;
	font-weight: bolder;
	line-height:15px;
	font-size: 0.75em;
	background-color: #99d9f6;
	text-align: center;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#bottom ol li h4:hover
{
	background-color: #0097e0;
}

#bottom ol li h4 img
{
	width: 5px;
	height: 5px;
	top: 5px;
	left: 555px;
	position: absolute;
}

#bottom ol li p.info 
{
	margin: 0px;
	padding-left: 3px;
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 1px;
	font-size: 0.75em;
}

#side
{
	width: 235px;
	margin-left: 4px;
	float: left;
	position: relative;
	text-align: left;
	line-height: 0.9em;
}

#left-side
{
	width: 170px;
	float: left;
	text-align: left;
	line-height: 0.5em;
}

#left-side div.background
{
	padding-left: 14px;
	padding-right: 14px;
	background-color: transparent;
	background-image: url("../images/background-border-left-side.png");
}

#side div.background
{
	padding-left: 14px;
	padding-right: 14px;
	background-color: transparent;
	background-image: url("../images/background-border-side.png");
}

#side h4
{
	margin-top: 5px;
	margin-bottom: 0px;
	display: inline-block;	
	color: #00a7ee;
	font-size: 0.8em;
}

#left-side h4
{
	margin-top: 5px;
	margin-bottom: 0px;
	display: inline-block;	
	color: #00a7ee;
	font-size: 0.6em;
}

#left-side h4.first, #side h4.first
{
	margin-top: 0px;
}

#side p
{
	font-size: 0.8em;
	display: inline;
	font-weight: bold;
}

#left-side p
{
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 0.6em;
	display: inline;
	font-weight: bold;
}

#left-side p.first, #side p.first
{
	margin-top: 0px;
}

#side p.date
{
	display: inline;	
	color: #d79400;
	font-weight: normal;
}

#side p.tags
{
	display: inline;	
	color: #787878;
	font-weight: normal;
	font-style: italic;
}

#side a.web
{
	display: inline;
	font-size: .8em;
	font-weight: bold;
	color: #787878;
	text-decoration: none;
}

#side a.web:hover
{
	text-decoration: underline;
}

#side hr
{
	border: none;
	height: 2px;
	background-color: #a4a4a4;
}

#left-side hr
{
	margin-top: 5px;
	margin-bottom: 5px;
	border: none;
	height: 1px;
	background-color: #a4a4a4;
}

#stats
{
	-moz-user-select: none;
	-webkit-user-select: none;
}

#stats h3, #stats a.stat, #stats div.stat
{
	margin-top: 1px;
	margin-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
	width: 199px;
	height: 30px;
	display: block;
	position: relative;
	color: #000000;
	border: none;
	text-decoration: none;
	font-weight: bold;
	line-height: 30px;
	font-size: 1.15em;
	text-align: left;
	cursor: pointer;
}

#left-side div.stats a.stat
{
	margin-top: 1px;
	margin-bottom: 1px;
	padding-left: 3px;
	padding-right: 3px;
	width: 136px;
	height: 21px;
	display: block;
	position: relative;
	color: #000000;
	border: none;
	text-decoration: none;
	font-weight: bold;
	font-size: 0.8em;
	line-height: 21px;
	text-align: left;
	cursor: pointer;
}

#stats div.stat
{
	cursor: auto;
}

#left-side div.stats a.last.stat, #side #stats div.last.stat
{
	margin-bottom: 0px;
}

#stats h3
{
	-moz-user-select: none;
	-webkit-user-select: none;
}

#stats h3:hover, #stats a.stat:hover, div.stats a.stat:hover
{
	background-color: #0097e0;
	text-decoration: none;
}

#stats span.counter
{
	font-size: 1.0em;
}

#stats span.name
{
	position: absolute;
	left: 65px;
	letter-spacing: -.01em;
	font-weight: bolder;
}

#left-side div.stats span.name
{
	position: absolute;
	left: 50px;
	letter-spacing: -.01em;
	font-weight: bolder;
}

#stats h3 img
{
	position: absolute;
	left: 190px;
	top: 11px;
	width: 8px;
	height: 8px;
}

#stats a
{
	text-decoration: none;
}

#stats a:hover
{
	text-decoration: none;
}

div#stats a.first, div.stats a.first
{
	background-color: #1ca5e5;
}

#stats .second, div.stats .second
{
	background-color: #3aafe8;
}

#stats .third, div.stats .third
{
	background-color: #52b9ec;
}

#stats .fourth, div.stats .fourth
{
	background-color: #67c2ee;
}

#stats .fifth, div.stats .fifth
{
	background-color: #7bcbf1;
}

#stats .sixth, div.stats .sixth
{
	background-color: #99d9f6;
}

#stats ul, #bottom ul
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;	
	-moz-user-select: none;
	-webkit-user-select: none;
}

#stats li, #bottom ul li
{
	margin-left: 1px;
	margin-top: 1px;
	display: block;
	float: left;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#stats li.first, #bottom ul li.first
{
	margin-left: 0px;
}

#stats li.top
{
	margin-top: 0px;
}

#stats a.more
{
	color: #5f5e5f;
	font-weight: bold;
	font-size: 0.85em;
	text-decoration: none;
}

#stats a.more:hover
{
	text-decoration: underline;
}

#subscribers
{
	-moz-user-select: none;
	-webkit-user-select: none;
}

#subscriptions
{
	-moz-user-select: none;
	-webkit-user-select: none;
}

#email-notifications, #sms-notifications, #email-notification, #sms-notification
{
	margin-left: 0px;
	margin-top: 5px;
}

#side a.notification
{
	vertical-align: top;
	text-decoration: none;
	color: #787878;
}

#side a.notification:hover
{
	text-decoration: underline;
}

#side a.notification img
{
	margin-right: 5px;
	float: left;
	border: none;
}

#side a.notification p
{
	margin: 0px;
	vertical-align: top;
	font-style: italic;
	font-size: 0.65em;
	font-weight: normal;
}

input.tab
{
	border: none;
}

#facebook_connect_image
{
	border: none;
}

#twitter_sign_in_image
{
	border: none;
}

#subscription_stream_content
{
	display: none;
}

#footer
{
	margin-left: 5px;
	margin-top: 15px;
	margin-right: 5px;
	width: 900;
	height: 28px;
	position: relative;
	text-align: center;
	font-weight: bold;
	font-size: .8em;
	background-color: #ffffff;
	line-height: 28px;
	opacity: 0.5;
	-moz-opactiy: 0.5;
	filter: alpha(opacity=50);
}

#footer:hover
{
	opacity: 0.75;
	-moz-opactiy: 0.75;
	filter: alpha(opacity=75);
}

#footer span
{
	position: absolute;
	left: 10px;
	font-size: .75em;
}

#footer a
{
	margin-left: 5px;
	margin-right: 5px;
	color: #000000;
	text-decoration: none;
}

#footer a:hover
{
	text-decoration: underline;
}

#footer a:active
{
	text-decoration: underline;
}

div.upper-left-border-squared-corner
{
	width: 10px;
	height: 10px;
	float: left;
	background-color: transparent;
	background-image: url("../images/upper-left-border-squared-corner.png");
}

div.top-border
{
	width: 580px;
	height: 10px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/top-border.png");
}

#content.wide.one-column #main div.top-border
{
	width: 820px;
}

div.upper-right-border-squared-corner
{
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/upper-right-border-squared-corner.png");
}

div.lower-left-border-squared-corner
{
	margin-bottom: 4px;
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/lower-left-border-squared-corner.png");
}

div.bottom-border
{
	margin-bottom: 4px;
	width: 580px;
	height: 10px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/bottom-border.png");
}

#content.wide.one-column #main div.bottom-border
{
	width: 820px;
}

div.lower-right-border-squared-corner
{
	margin-bottom: 4px;
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/lower-right-border-squared-corner.png");
}

div.lower-left-border-squared-corner.last, div.bottom-border.last, div.lower-right-border-squared-corner.last
{
	margin-bottom: 0px;
}

div.upper-left-border-squared-corner.horizontal, div.upper-right-border-squared-corner.horizontal, div.lower-right-border-squared-corner.horizontal, div.lower-left-border-squared-corner.horizontal
{
	float: none;
}

div.upper-left-border-rounded-corner
{
	width: 15px;
	height: 15px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/upper-left-border-rounded-corner.png");
}

#left-side div.top-border-large, #side div.top-border-large
{
	width: 205px;
	height: 15px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/top-border-large.png");
}

#left-side div.top-border-large
{
	width: 140px;
}

div.upper-right-border-rounded-corner
{
	width: 15px;
	height: 15px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/upper-right-border-rounded-corner.png");
}

div.lower-left-border-rounded-corner
{
	margin-bottom: 4px;
	width: 15px;
	height: 15px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/lower-left-border-rounded-corner.png");
}

#left-side div.bottom-border-large, #side div.bottom-border-large
{
	margin-bottom: 0px;
	width: 205px;
	height: 15px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/bottom-border-large.png");
}

#left-side div.bottom-border-large
{
	width: 140px;
}

div.lower-right-border-rounded-corner
{
	margin-bottom: 4px;
	width: 15px;
	height: 15px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/lower-right-border-rounded-corner.png");
}

div.lower-left-border-rounded-corner.last, div.bottom-border-large.last, div.lower-right-border-rounded-corner.last
{
	margin-bottom: 0px;
}

div.left-border-gray
{
	width: 10px;
	height: 36px;
	background-color: transparent;
	background-image: url("../images/left-border-gray.png");
}

div.upper-left-border-squared-corner-gray
{
	width: 10px;
	height: 10px;
	background-color: transparent;
	background-image: url("../images/upper-left-border-squared-corner-gray.png");
}

div.upper-right-border-squared-corner-gray
{
	width: 10px;
	height: 10px;
	background-color: transparent;
	background-image: url("../images/upper-right-border-squared-corner-gray.png");
}

div.right-border-gray
{
	width: 10px;
	height: 36px;
	background-color: transparent;
	background-image: url("../images/right-border-gray.png");
}

div.lower-right-border-squared-corner-gray
{
	width: 10px;
	height: 10px;
	background-color: transparent;
	background-image: url("../images/lower-right-border-squared-corner-gray.png");
}

div.lower-left-border-squared-corner-gray
{
	width: 10px;
	height: 10px;
	background-color: transparent;
	background-image: url("../images/lower-left-border-squared-corner-gray.png");
}

div.upper-left-border-squared-corner-blue
{
	width: 10px;
	height: 10px;
	float: left;
	background-color: transparent;
	background-image: url("../images/upper-left-border-squared-corner-blue.png");
}

div.top-border-blue
{
	width: 455px;
	height: 10px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/top-border-blue.png");
}

div.upper-right-border-squared-corner-blue
{
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/upper-right-border-squared-corner-blue.png");
}

div.lower-left-border-squared-corner-blue
{
	margin-bottom: 4px;
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/lower-left-border-squared-corner-blue.png");
}

div.bottom-border-blue
{
	margin-bottom: 4px;
	width: 455px;
	height: 10px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/bottom-border-blue.png");
}

div.lower-right-border-squared-corner-blue
{
	margin-bottom: 4px;
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	background-color: transparent;
	background-image: url("../images/lower-right-border-squared-corner-blue.png");
}

a.tab
{
	background-color: #99d9f6;
	color: #000000;
}

a.tab
{
	background-color: #0097e0;
}

h2.tab
{
	margin-right: 1px;
	float: left;
	text-align: center;
	background-color: #99d9f6;
	color: #000000;
	cursor: pointer;
}

h2.tab.last
{
	margin-right: 0px;
}

h2.tab.selected, h2.tab:hover
{
	background-color: #0097e0;
}

.avatar-small
{
	width: 25px;
	height: 25px;
	border: none;
	vertical-align: top;
}

div.page, div.view
{
	display: none;
}

div.page.selected, div.view.selected
{
	display: block;
}

.hidden
{
	display: none;
}

.clear
{
	clear: both;
}

.clear-right
{
	clear: right;
}

.clear-left
{
	clear: left;
}
