#left-side img.avatar
{
	width: 142px;
	height: 142px;
	border: none;
}

#top
{
	padding-left: 14px;
	padding-top: 25px;
	padding-right: 14px;
	padding-bottom: 4px;
	width: 572px; 
	background-image: url("../images/background-border-main.png");
}

#title img
{
	float: left;
	position: relative;
	left: -8px;
	top: 7px;
	width: 42px;
	height: 42px;
	border: none;
}

#top p
{
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 1.0em;
	font-weight: bold;
}

#top p a.title
{
	color: #000000;
}

#top p a.user
{
	color: #00A7EE;
}

#top p img.avatar
{
	margin-left: 1px;
	margin-top: 1px;
	margin-right: 3px;
	border: none;
	height: 28px;
	width: 28px;
	position: relative;
	top: 7px;
	display: block;
	float: left;
}

#top p span.date
{
	color: #d79400;
}

#dashboard h2.tab
{
	margin-top: 0px;
	margin-bottom: 0px;
	width: 190px; 
	height: 30px;
	line-height: 30px;
	font-size: 1.0em;
}

#dashboard h2.tab.short
{
	width: 189px; 
}

#dashboard h2.tab.last
{
	margin-right: 0px; 
}

#dashboard form
{
	margin-top: 3px;
}

#dashboard form textarea
{
	padding: 5px;
	width: 560px;
	height: 115px;
	border: solid;
	border-width: 1px;
	border-color: #000000;
	background-image: url(/images/comment_prompt.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	font-size: 1.2em;
	resize: none;
}

#dashboard form input#image_post_image 
{
	width: 572px;
}

#dashboard form textarea.selected
{
	background-image: none;
}

#dashboard form div.submit
{
	float: right;
}

#dashboard form div.submit img
{
}

#dashboard form div.submit img.selected
{
	display: inline-block;
}

#dashboard form input.button 
{
	margin-top: 3px;
	width: 125px;
	height: 28px;
	border: solid;
	border-width: 1px;
	border-color: #000000;
	border-color: #4e606f;
	font-size: 1.15em;
	font-weight: bold;
	font-size: 0.75em;
	cursor: pointer;
}

#dashboard form input.button:hover
{
	background-color: #a3a3a3;
}
