#header
{
	height: 50px;
}

#spacer
{
	min-height: 200px; 
}

#left
{
	position: absolute;
	width: 218px;
	height: 218px;
	left: -20px;
	top: -30px;
	background-image: url('/images/frame.png');
	z-index: 1;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
}

#left img.avatar
{
	position: absolute;
	width: 202px;
	height: 202px;
	left: 8px;
	top: 8px;
	border: none;
}

#right
{
	margin-left: 203px;
	padding-right: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 383px;
	float: left;
}

#right h1
{
	margin: 0px;
	font-size: 2.3em;
	line-height: 34px;
}

#right div.motto
{
	margin-left: 0px;
	margin-top: 8px;
	margin-right: 0px;
	padding-left: 24px;
	padding-top: 3px;
	padding-bottom: 3px;
	height: 19px;
	color: #3e3e3e;
	font-style: italic;
	line-height: 19px;
	font-size: 1.1em;
	font-family: Georgia, Helvetica, sans-serif;
	background-image: url("/images/quote.png");
	background-repeat: no-repeat;
	background-position: 4px 4px; 
}

#right div.sign-up, #right div.subscribe, #right div.navigation
{
	margin-top: 8px;
	padding: 8px;
	text-align: left;
	background-color: #f0f0f0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#right div.sign-up p, #right div.subscribe p, #right div.navigation p
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	line-height: 14px;
	font-size: 0.85em;
}

#right div.sign-up div.align, #right div.subscribe div.align, #right div.navigation div.align
{
	margin-top: 8px;
	text-align: center;
}

#right div.sign-up a, #right div.subscribe a, #right div.navigation a 
{
	margin-right: 5px;
	margin-bottom: 0px;
	padding: 0px;
	border: solid;
	border-width: 1px;
	border-color: #3e3e3e;
	display: inline-block;
	width: 150px;
	height: 30px;
	line-height: 30px;
	color: #000000;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 0.9em;
	vertical-align: top;
	background-color: #efc02d;
	background-image: url('/images/fade.png');
	background-repeat: repeat-x;
}

#right div.sign-up a:hover, #right div.subscribe a:hover, #right div.navigation a:hover
{
	background-color: #d79400;
	text-decoration: none;
}

#right div.sign-up a:visited, #right div.subscribe a:visited, #right div.navigation a:hover
{
	color: #000000;
	text-decoration: none;
}

#right #subscription-button
{
	display: inline;
}

#right div.subscribe input
{
	margin-top: 10px;
	margin-right: 1px;
	margin-bottom: 0px;
	padding: 0px;
	border: none;
	display: inline-block;
	width: 150px;
	height: 32px;
	line-height: 32px;
	color: #000000;
	background-color: #efc02d;
	background-image: url('/images/fade.png');
	background-repeat: repeat-x;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 0.85em;
	cursor: pointer;
	font-family: Helvetica;
}

#right div.subscribe input:hover
{
	background-color: #d79400;
	text-decoration: none;
}

#right form
{
	width: 397px;;
	margin-top: 5px;
	margin-bottom: 5px;
}

#right form label img
{
	border: solid;
	border-width: 1px;
	border-color: #59636f; 
	left: 192px;
	top: 143px;
	display: block;
	float: left;
	vertical-align: bottom;
}

#query
{
	width: 356px;
	height: 23px;
	padding: 3px;
	border-left: none;
	border-top: solid;
	border-right: solid;
	border-bottom: solid;
	border-width: 1px;
	border-color: #59636f; 
	display: block;
	left: 223px;
	float: left;
	top: 143px;
	line-height: 29px;
	color: #c0c0c0;
	font-size: 1.15em;
	font-variant: Gill Sans, Helvetica, sans-serif;
}
