#content
{
	margin-left: 0px;
	position: relative;
}

#motto
{
	margin: auto;
	width: 489px;
	height: 60px;
	background-image: url("/images/motto.png");
}

#content div.left
{
	padding-right: 14px;
	width: 474px;
	text-align: center;
	float: left;
}

#content div.left h2
{
	border-bottom: none;
	font-weight: bold;
	font-size: 1.5em;
	color: #3e3e3e;
	text-align: left;
}

#content div.left h2.first
{
	margin-top: 0px;
}

#content div.left h2 span.highlight
{
	color: #0097db;
	font-size: 1.15em;
}

#content div.left p
{
	margin: 0px;
	font-size: 1.0em;
	color: #3e3e3e;
	text-align: left;
}

#content div.left form.sign-up
{
}

#content div.left div.container
{
	margin-top: 8px;
	padding-left: 33px;
	padding-top: 16px;
	padding-right: 33px;
	padding-bottom: 16px;
	line-height: 18px;
	text-align: left;
	background-color: #f0f0f0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#content div.left div.align
{
	text-align: center;
}

#content div.left form.sign-up label 
{
	font-size: 0.85em; 
}

#username
{
	margin-left: auto;
	margin-top: 0px;
	margin-right: auto;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: solid;
	border-color: #3e3e3e;
	border-width: 1px;
	width: 401px;
	background-color: #ffffff;
	font-size: 22px;
	line-height: 22px;
	text-align: left;
	color: #a3a3a3;
	font-family: Gill Sans, Helvetica, sans-serif;
}
 
#username input
{
	padding: 0px;
	border: none;
	width: 180px;
	font-family: Gill Sans, Helvetica, sans-serif;
	font-size: 22px;
	color: #00a7ee;
	outline-style: none;
}

#username img
{
	margin-top: 6px;
	margin-right: 3px;
	float: right;
}

#blogcastr_user_submit
{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;	
}

#content div.left form.search
{
	margin-top: 8px;
}

#content div.left form input.button
{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-top: 3px;
	padding-right: 20px;
	padding-bottom: 3px;
	border: solid;
	border-width: 2px;
	border-color: #000000;
	position: relative;
	text-align: center;
	background-color: #efc02d;
	background-image: url('/images/fade.png');
	background-repeat: repeat-x;
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#content div.left form input.button:hover
{
	background-color: #d79400;
}

#content div.left form.search label
{
	font-size: 0.85em; 
	color: #3e3e3e;
}

#content div.left form.search div.border
{
	margin-left: auto;
	margin-right: auto;
	border: solid;
	border-color: #4e606f;
	border-width: 1px;
	width: 403px;
	height: 27px;
	line-height: 27px;
	background-color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.container
{
}

#content div.left form.search input
{
	padding-left: 3px;
	padding-right: 3px;
	border: none;
	width: 315px;
	font-size: 1.0em;
	background-color: transparent;
	outline: none;
}

#content div.left form.search input.button
{
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	padding-left: 8px;
	padding-top: 2px;
	padding-right: 8px;
	padding-bottom: 2px;
	border: solid;
	border-width: 1px;
	border-color: #000000;
	width: 80px;
	height: 25px;
	float: right;
	text-align: center;
	background-color: #efc02d;
	color: #000000;
	font-weight: bold;
	font-size: 0.85em;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#content div.left form.search input.button:hover
{
	background-color: #d79400;
}

#content div.right
{
	position: relative;
	margin-left: 4px;
	padding-left: 13px;
	width: 324px;
	float: left;
}

#featured-users
{
	background-color: #f0f0f0;
}

#featured-users div.large-arrow
{
	padding-left: 10px;
	padding-top: 27px;
	padding-right: 51px;
	width: 81px;
	height: 64px;
	float: left;
	line-height: 18px;
	color: #000000;
	background-color: #d8d8d8;
	background-image: url("/images/large-gray-arrow.png");
	background-position: right;
	background-repeat: no-repeat;
	font-weight: bold;
	font-size: 1.0em;
	text-align: center;
}

#featured-users ul
{
	margin: 0px;
	padding: 0px;
	width: 180px;
	float: left;
	list-style: none;
}

#featured-users ul li
{
	margin-left: 1px;
	margin-top: 1px;
	float: left;
}

#content li.blogcast div.right
{
	padding-left: 6px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: auto;
}

#content div.bottom-border
{
	width: 860px;
	height: 10px;
	background-image: url("/images/bottom-border-large-white.png");
}
