<li id="<%= text_post.id %>">
  <div class="stream-effect">
    <p class="text"><%= text_post.text %></p>
    <div class="clear">
    </div>
    <p class="info">Posted <%= hours_minutes_ago_helper text_post.created_at %> from <%= text_post.from %></p>
  </div>
</li>
