<%= link_to_remote image_tag("email_add.png") + "<p>Email reminder for \"#{@blogcast.title}\"</p>", :url => blogcast_email_reminders_path(:blogcast_id => @blogcast.id), :failure => "alert('Error communicating with server, failed to create email reminder for \\\"#{@blogcast.title}\\\"');", :html => {:class => "reminder"}, :method => "post" %>
