<div id="wrapper">
  <div id="header">
    <h1>Blogcastr</h1>
    <div id="navigation">
      <%= link_to "Sign in", :controller => "session", :action => "new" %>
    </div>
  </div>
  <div id="content">
    <h2>Broadcast your blog live. <%= link_to "Sign up", :controller => "users", :action => "new" %> today.<h2>
  </div>
  <div id="footer">
    <p>&copy; 2009 Blogcastr</p>
  </div>
</div>
