div.main {
	width: 520px;
}

div.main h2:first-child {
	margin-top: 10px;
}

div.main p {
	color: #565656;	
	font-size: 0.85em;
	margin-top: 8px;
}

div.follow {
	font-size: 0.8em;
	font-weight: bold;
	margin-top: 20px;
}

div.main ul.social-links {
	margin-top: 6px;
}

a.social-link img {
	float: left;
	margin-left: 4px;
}

ul.social-links li:first-child img {
	margin-left: 0px;
}

div.side {
	width: 360px;
}

div.side h2 {
	color: #737373;
	font-size: 1.5em;
}

div.avatar-and-link-container {
	float: left;
}

div.user-info {
	float: left;
	width: 216px;
}

div.job-title {
	font-size: 0.95em;
	font-weight: bold;
}

p.bio {
	font-size: 0.75em;
	line-height: 16px;	
	margin-top: 4px;
}

#team {
	margin-top: 10px;
}
