html {
	margin: 0px;
	height: 100%;
}

body {
	background-color: #e9e9e9;
	font-family: Helvetica, sans-serif;
	font-size: 1.0em;
	height: 100%;
	margin: 0px;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h2 {
	color: #575757;
	font-size: 1.5em;
	margin-bottom: 0px;
	margin-top: 20px;
}

img {
	border: none;
}

a.username, a.navigation-link, #header-search input, #full-name, #username {
	color: #1c4b75;
}

a.navigation-link {
	font-size: 0.75em;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

ol.blogcasts {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

li.blogcast {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0px 2px 3px -1px #444444; 
	-webkit-box-shadow: 0px 2px 3px -1px #444444; 
	margin-top: 12px;
}

li.blogcast:first-child {
	margin-top: 4px;
}

div.blogcast-header {
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	background-image: -moz-linear-gradient(#333333, #131313); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#131313)); 
	color: #ffffff;
	font-size: 0.9em;
	font-weight: bold;
	line-height: 14px;
	padding: 8px;
}

div.blogcast-body {
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-box-shadow: 0px 1px 2px -1px #000000; 
	background-color: #f3f3f3;
	padding: 8px;
}

div.blogcast-body img.avatar {
	float: left;
}

div.blogcast-info {
	float: left;
	padding-left: 6px;
	width: 615px;
}

div.blogcast-info a.username {
	font-size: 0.8em;
	font-weight: bold;
}

div.blogcast-info span.time {
	color: #565656;
	font-size: 0.75em;
	font-style: italic;
}

div.blogcast-info p.description {
	color: #565656;
	font-size: 0.75em;
	margin: 0px;
}

ul.tags {
	list-style: none;
	padding: 0px;
	margin-top: 4px;
}

li.tag {
	float: left;
	margin-left: 3px;
}

li.tag:first-child {
	margin-left: 0px;
}

a.tag {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #d4d4d4; 
	color: #505050;
	font-weight: bold;
	font-size: 0.6em;
	height: 16px;
	line-height: 16px;
	padding-left: 7px;
	padding-right: 7px;
	display: block;
}

a.tag:hover {
	text-decoration: none;
}

div.large-rounded-avatar {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: none;
	height: 120px;
	width: 120px; 
}

div.medium-rounded-avatar {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	height: 40px;
	width: 40px; 
}

a.blue-button {
	background-color: #4a7db4;
	background-image: -moz-linear-gradient(top, #6f9bc8, #4a7db4 50%, #4071ab 50%, #325b99); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6f9bc8), color-stop(50%, #4a7db4), color-stop(50%, #4071ab), to(#325b99)); 
	border-bottom: 1px solid #2b476f;
	border-top: 1px solid #6fd0f3;
	color: #ffffff;
	display: block;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px -1px #444444;
}

a.orange-button {
	background-color: #e5ae3b;
	background-image: -moz-linear-gradient(top, #f1d478, #e5ae3a 50%, #de9a2f 50%, #ce7f18); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1d470), color-stop(50%, #e5ae3a), color-stop(50%, #de9a2f), to(#ce7f18)); 
	border-bottom: 1px solid #a66e0f;
	border-top: 1px solid #fbd5d2;
	color: #ffffff;
	display: block;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px -1px #444444;
}

div.button-container {
	-moz-border-radius: 4px;
	-moz-box-shadow: inset 0px 1px 2px -1px #000000; 
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0px 1px 2px -1px #000000; 
	background-color: #e5e5e5;
	background-image: -moz-linear-gradient(#edece7, #ededed); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#edece7), to(#ededed)); 
	padding: 5px;	
}

div.arrow {
	margin-top: 2px;
	height: 6px;
}

div.side-details-container {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #242424;
	padding: 4px;
}

ul.stats-container {
	-moz-border-radius: 4px;
	-moz-box-shadow: inset 0px 2px 5px -1px #000000; 
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0px 2px 5px -1px #000000; 
	background-color: #f0f0f0;
	background-image: -moz-linear-gradient(#ffffff, #e2e2e2); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2));
	font-size: 0.95em;
	font-weight: bold;
	list-style: none;
	margin: 0px;
	padding: 9px;
}

li.stat {
	margin-top: 3px;
}

li.stat:first-child {
	margin-top: 0px;
}

span.stat-counter {
	-moz-border-radius: 4px;
	-moz-box-shadow: inset 0px 1px 1px -1px #ffffff; 
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0px 1px 1px -1px #ffffff; 
	background-color: #1e5075;
        background-image: -moz-linear-gradient(#2a5a9a, #224f86 10px, #0c3762); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2a5a9a), color-stop(50%, #224f86), to(#0c3762)); 
	border-left: 1px solid #01366c;
	border-right: 1px solid #01366c;
	border-top: 1px solid #003556;
	color: white;
	display: inline-block;
	font-weight: normal;	
	font-size: 0.9em;	
	height: 20px;
	line-height: 19px;
	padding-left: 5px;
	padding-right: 5px;
}

div.avatar-stat-container {
	-moz-border-radius: 4px;
	-moz-box-shadow: inset 0px 1px 2px #000000, 0px 1px 0px #3c3c3c; 
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0px 1px 2px #000000, 0px 1px 0px #3c3c3c; 
	background-color: #1b1b1b;
	color: #ffffff;
	line-height: 12px;
	margin-top: 7px;
	padding: 9px;
}

div.avatar-stat-container a.stat {
	color: #ffffff;
	font-size: 0.8em;
	font-weight: bold;
}

ul.avatar-list {
	list-style: none;
	margin-top: 8px;
	margin-bottom: 0px;
	padding: 0px;
}

ul.avatar-list li {
	float: left;
	margin-left: 6px;
}

ul.avatar-list li:first-child {
	margin-left: 0px;
}

ul.avatar-list img {
	border: none;
	width: 24px;
	vertical-align: top;
}

#container {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#header-container {
	padding-left: 80px;
	padding-top: 13px;
}

#header {
	-moz-border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #444444, inset 0px -1px #ffffff; 
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 10px #444444, inset 0px -1px #ffffff; 
	background-color: #eeeeee;
	background-image: -moz-linear-gradient(#fffefb, #dbdbdb); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fffefb), to(#dbdbdb)); 
	box-shadow: 0px 0px 12px -2px #000000, inset 0px -1px #ffffff; 
	height: 52px;
	padding: 10px;
}

#header-search input {
	-moz-border-radius: 5px;
	-moz-box-shadow: inset 0px 2px 3px -1px #000000; 
	-webkit-border-radius: 5px;
	-webkit-box-shadow: inset 0px 2px 3px -1px #000000; 
	border: none;
	font-size: 1.3em;
	font-weight: bold;
	height: 28px;
	padding-bottom: 12px;
	padding-left: 50px;
	padding-top: 12px;
	width: 350px;
}

#sign-in-or-sign-up-container {
	-moz-border-radius: 6px;
	-moz-box-shadow: inset 0px 1px 3px #000000, 0px 1px #ffffff; 
	-webkit-border-radius: 6px;
	-webkit-box-shadow: inset 0px 1px 3px #000000, 0px 1px #ffffff; 
	background-color: #c4c4c4;
	background-image: -moz-linear-gradient(#9f9f9f, #e8e8e8); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9f9f9f), to(#e8e8e8)); 
	float: right;
	margin: 0px;
	padding: 6px;
}

#sign-in-button {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	float: left;
	font-size: 1.0em;
	height: 38px;
	line-height: 38px;
	padding-left: 18px;
	padding-right: 18px;
}

#sign-up-button {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	float: left;
	font-size: 1.0em;
	height: 38px;
	line-height: 38px;
	margin-left: 5px;
	padding-left: 18px;
	padding-right: 18px;
}

#welcome {
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-box-shadow: 0px 1px #ffffff; 
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-box-shadow: 0px 1px #ffffff; 
	background-color: #c8c8c8;
	background-image: -moz-linear-gradient(#e1e1e1, #b3b3b3); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#b3b3b3)); 
	border-bottom: 1px solid #949494;
	border-left: 1px solid #949494;
	border-right: 1px solid #a7a7a7;
	color: #444444;
	float: right;
	font-size: 0.7em;
	font-weight: bold;
	height: 39px; 
	line-height: 14px;
	padding-left: 52px;
	padding-right: 12px;
	padding-top: 12px;
	position: relative;	
}

#welcome-avatar {
	-moz-box-shadow: inset 0px 2px 4px -1px #000000, 0px 1px #dedede; 
	-webkit-box-shadow: inset 0px 2px 4px -1px #000000, 0px 1px #dedede; 
	left: 6px;
	position: absolute;
	top: 6px;
}

#navigation-container {
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-topright: 6px;
	-moz-box-shadow: inset 0px 1px 3px #000000, 0px 1px #ffffff; 
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-box-shadow: inset 0px 1px 3px #000000, 0px 1px #ffffff; 
	background-color: #c4c4c4;
	background-image: -moz-linear-gradient(#9f9f9f, #e8e8e8); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9f9f9f), to(#e8e8e8)); 
	float: right;
	list-style: none;
	margin: 0px;
	padding: 6px;
}

#navigation-container li {
	float: left;
}

#navigation-container li a {
	background-color: #e8e8e8;
	background-image: -moz-linear-gradient(top, #fefefe, #f0f0f0 20px, #e5e5e5 21px, #e8e8e8); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), color-stop(50%, #f0f0f0), color-stop(50%, #e5e5e5), to(#e8e8e8)); 
	border-bottom: 1px solid #b9b9b9;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #cacaca;
	color: #474747;
	display: block;
	font-size: 0.85em;
	font-weight: bold;
	height: 39px;
	line-height: 40px;
	padding-left: 12px;
	padding-right: 12px;
	text-decoration: none;
}

#navigation-container li:first-child a {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-left: none;
}

#navigation-container li:last-child a {
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-right: none;
}

#content {
	-moz-border-radius: 4px;
	-moz-box-shadow: 0px 2px 4px #444444; 
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 2px 4px #444444; 
	margin-top: 30px;
}

#main {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	background-color: #ffffff;
	padding: 20px;
	width: 680px;
	vertical-align: top;
}

#side {
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	background-color: rgba(228, 228, 228, 0.5); 
	background-image: -moz-linear-gradient(left, #696969, rgba(228, 228, 228, 0.0) 9px); 
	background-image: -webkit-gradient(linear, left center, 9 center, from(#696969), to(rgba(228, 228, 228, 0.0))); 
	padding: 20px;
	vertical-align: top;
	width: 200px;
}

#username {
	font-size: 1.4em;
	font-weight: bold;
}

#footer {
	-moz-border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #444444, inset 0px -1px #ffffff; 
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 10px #444444, inset 0px -1px #ffffff; 
	background-color: #eeeeee;
	background-image: -moz-linear-gradient(#fffefb, #dbdbdb); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fffefb), to(#dbdbdb)); 
	box-shadow: 0px 0px 12px -2px #000000, inset 0px -1px #ffffff; 
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	padding: 10px;
	position: relative;
	text-align: right;
}

#copyright {
	position: absolute;
	left: 10px;
}
