li.post-button {
	background-color: #c6c6c6;
	background-repeat: no-repeat;
	background-position: 14px 50%, 0px 0px;
 	border-bottom: solid;
 	border-left: solid;
 	border-right: solid;
	border-color: #a2a2a2;
	border-width: 1px;
	color: #002e5f;
	cursor: pointer;
	font-size: 1.15em;
	font-weight: bold;
	height: 56px;
	line-height: 60px;
	padding-left: 58px;
	text-shadow: 0px 1px #ffffff;
}

li.post-button:hover {
	background-color: #b6b6b6;
}

li.post-button:first-child {
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top: 1px solid #afafaf;
	border-top-left-radius: 6px;
}

li.post-button.selected {
	-moz-box-shadow: inset 0px 2px 4px #222222;
	-webkit-box-shadow: inset 0px 2px 4px #222222;
	background-color: #c6c6c6;
	box-shadow: inset 0px 2px 4px #222222;
	color: #ffffff;
	text-shadow: none;
}

textarea.text {
	-moz-border-radius: 6px;
	-moz-box-shadow: inset 0px 2px 3px #444444; 
	-webkit-border-radius: 6px;
	-webkit-box-shadow: inset 0px 2px 3px #444444; 
	background-color: #fff;
	border: none;
	border-radius: 6px;
	box-shadow: inset 0px 2px 3px #444444; 
	color: #d2d2d2;
	display: block;
	font-family: Helvetica, sans-serif;
	font-size: 1.0em;
	padding-bottom: 9px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 9px;
	resize: none;
	width: 477px;
}

textarea.text.selected {
	color: #000;
}

input.post {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-left: none;
	border-radius: 4px;
	border-right: none;
	cursor: pointer;
	float: left;
	font-size: 0.9em;
	height: 33px;
	width: 82px;
	width: 82px;
	display: block;
}

#dashboard {
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin-top: 8px;
}

#post-buttons-container {
	float: left;
	height: 100%;
	width: 150px;
}

#text-post-button {
	background-image: url("/images/new/text-post.png"), -moz-linear-gradient(top, #e1e1e1, #b4b4b4);
	background-image: url("/images/new/text-post.png"), -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#b4b4b4)); 
	background-image: url("/images/new/text-post.png"), linear-gradient(top, #e1e1e1, #b4b4b4);
}

#text-post-button:hover {
	background-image: url("/images/new/text-post.png"), -moz-linear-gradient(top, #d1d1d1, #a4a4a4); 
	background-image: url("/images/new/text-post.png"), -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#a4a4a4)); 
	background-image: url("/images/new/text-post.png"), linear-gradient(top, #d1d1d1, #a4a4a4); 
}

#text-post-button.selected {
	background-image: url("/images/new/text-post.png"), -moz-linear-gradient(top, #909090, #525252); 
	background-image: url("/images/new/text-post.png"), -webkit-gradient(linear, left top, left bottom, from(#909090), to(#525252)); 
	background-image: url("/images/new/text-post.png"), linear-gradient(top, #909090, #525252); 
}

#image-post-button {
	background-image: url("/images/new/image-post.png"), -moz-linear-gradient(top, #e1e1e1, #b4b4b4);
	background-image: url("/images/new/image-post.png"), -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#b4b4b4)); 
	background-image: url("/images/new/image-post.png"), linear-gradient(top, #e1e1e1, #b4b4b4);
}

#image-post-button:hover {
	background-image: url("/images/new/image-post.png"), -moz-linear-gradient(top, #d1d1d1, #a4a4a4); 
	background-image: url("/images/new/image-post.png"), -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#a4a4a4)); 
	background-image: url("/images/new/image-post.png"), linear-gradient(top, #d1d1d1, #a4a4a4); 
}

#image-post-button.selected {
	background-image: url("/images/new/image-post.png"), -moz-linear-gradient(top, #909090, #525252); 
	background-image: url("/images/new/image-post.png"), -webkit-gradient(linear, left top, left bottom, from(#909090), to(#525252)); 
	background-image: url("/images/new/image-post.png"), linear-gradient(top, #909090, #525252); 
}

#post-buttons-padding {
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	background-color: #c6c6c6;
	background-image: -moz-linear-gradient(top, #e1e1e1, #b4b4b4); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#b4b4b4)); 
	background-image: linear-gradient(top, #e1e1e1, #b4b4b4); 
 	border-bottom: solid;
	border-bottom-left-radius: 6px;
 	border-left: solid;
 	border-right: solid;
	border-color: #a2a2a2;
	border-width: 1px;
	height: 115px;
}

#post-container {
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-topright: 6px;
	-moz-box-shadow: inset 0px 1px #d9d9d9;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-box-shadow: inset 0px 1px #d9d9d9;
	background-color: #ededed;
	border-bottom-right-radius: 6px;
	border-top: 1px solid #afafaf;
	border-right: 1px solid #d9d9d9;
	border-top-right-radius: 6px;
	box-shadow: inset 0px 1px #d9d9d9;
	float: left;
	padding: 16px;
	width: 497px;
}

#text_post_text {
	height: 137px;
}

#image_post_image {
	display: block;
	height: 24px;
	line-height: 20px;
}

#image_post_text {
	height: 103px;
	margin-top: 10px;
}

#posts, #comments {
	margin-top: 0px;
}
