form {
	margin-top: 8px;
}

th {
	padding-right: 6px;
	text-align: right;
	vertical-align: middle;
	width: 130px;
}

td.full-name, th.full-name {
	padding-top: 10px;
}

td.text-field, th.text-field {
	padding-top: 10px;
}

input.sign-up-text-field {
	font-size: 1.0em;
	font-weight: bold;
	height: 28px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	width: 430px;
}

input.recaptcha-text-field {
	font-size: 0.75em;
	font-weight: bold;
	height: 16px;
	margin-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	width: 292px;
}

span.text-field-description, div.connect {
	color: #8b8b8b;
	font-family: Georgia, serif;
	font-size: 0.7em;
	font-style: italic;
}

#main.sign-up-main {
	width: 580px;
}

#facebook-and-twitter-sign-in-button-container img {
	vertical-align: bottom;
}

#facebook-and-twitter-connect-container {
	float: left;
	margin-left: 6px;
	padding-top: 4px;
}

#facebook-and-twitter-connect-container a.navigation-link {
	font-size: 0.75em;
}

#avatar {
	-moz-box-shadow: 0px 1px 2px #444444; 
	-webkit-box-shadow: 0px 1px 2px #444444; 
	float: left;
}

#pick-username-container {
	background-position: 418px 50%; 
	background-repeat: no-repeat;
	color: #c0c0c0;
	font-size: 0.9em;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-top: 4px;
	width: 436px;
}

#pick-username-container input {
	background-color: transparent;
	border: none;
	font-size: 1.0em;
	font-weight: bold;
	outline-style: none;
	padding: 0px;
}

#recaptcha-container {
	margin-top: 20px;
}

#fine-print {
	color: #565656;
	font-size: 0.6em;
	float: right;
	margin-top: 8px;
	width: 200px;
	text-align: right;
}

#blogcastr_user_submit {
	margin-left: 6px;
}
