<div id="top-bar-container">
  <div id="top-bar">
    <div id="top-bar-close-container">
      <span id="top-bar-close">close</span>
    </div>
    <div id="top-bar-content-container">
      <%= image_tag("new/mini-iphone.png", :id => "mini-iphone") -%> 
      <%= link_to "Check out the new Blogcastr <span class=\"highlight\">iPhone app</span> available in the App Store", "http://itunes.com/apps/blogcastr" -%>
    </div>
  </div>
</div>
