<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Blogcastr - About</title>
    <link rel="shortcut icon" href="/images/new/favicon.ico">
    <%= stylesheet_link_tag "new/all", :media => "screen" %>
    <%= stylesheet_link_tag "new/about", :media => "screen" %>
    <%= javascript_include_tag :defaults, "jquery.js", "new/application.js", "new/about.js", :media => "all" %>
    <% javascript_tag do %>
      jQuery.noConflict();
    <% end %>
  </head>
  <body>
    <%= yield :layout %>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-11177931-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
